CONFIG_PACKAGE_qt5-runtime=y
CONFIG_PACKAGE_qt5-core=y
CONFIG_PACKAGE_qt5-network=y
CONFIG_PACKAGE_qt5-gui=y
CONFIG_PACKAGE_qt5-widgets=y
CONFIG_PACKAGE_qt5-drivers-linuxfb=y
CONFIG_PACKAGE_qt5-drivers-touchscreen=y
CONFIG_PACKAGE_qt5-imageformats=y
CONFIG_PACKAGE_opencv=y
CONFIG_PACKAGE_libAWIspApi=y
CONFIG_ENABLE_SUNXIVIN_ISP=y
